{% extends 'plantilla.html' %} 

{% block body %}
<!DOCTYPE html>
<html>
  <title> Actualización datos del médico </title>
  <header class="header01">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <h2>SISTEMA DE GESTIÓN MÉDICA</h2>
  <h3>Actualizar datos del médico</h3> </header>
    <div>
    <style>
      </style>
</header>
<nav></nav>

<body class="bodyint">
    <h1>     </h1>
    <section></section>
<aside></aside>
<div class="divform">
<form action="/actualizarMedico/{{ id }}" method="post">
    <ul>
      
        <label for="nombre">Nombres(s):</label>
        <input type="text" id="nombre" name="user_nombre" value="{{ edmed.1 }}" required/>
      
      <p></p>
      
        <label for="AP">Apellido Paterno:</label>
        <input type="text" id="AP" name="user_AP" value="{{ edmed.2 }}" required/>
      
      <p></p>
      
        <label for="AM">Apellido Materno:</label>
        <input type="text" id="AM" name="user_AM" value="{{ edmed.3 }}" required/>
      
      <p></p>

         <label for="RFC">RFC:</label>
        <input type="text" id="RFC" name="user_RFC" value="{{ edmed.4 }}" required/>
      
      <p></p>
      
        <label for="CP">Cédula Profesional:</label>
        <input type="text" id="CP" name="user_CP" value="{{ edmed.5 }}" required/>
      
      <p></p>

        <label for="CE">Correo electrónico:</label>
        <input type="text" id="CE" name="user_CE" value="{{ edmed.6 }}" required/>
     
      <p></p>
      
        <label for="pass">Contraseña:</label>
        <input type="password" id="pass" name="user_pass" value="{{ edmed.7 }}" required/>
      
      <p></p>
     
        <label for="rol">Rol:</label>
       <!-- <input type="text" id="rol" name="user_rol" value="{{ edmed.8 }}" required/>-->
        <select class="custom-select", name="user_rol" value="{{ edmed.8 }}" required>
          <option value="medico-admin">Medico-admin</option>
          <option value="medico-general">usuario</option>
        </select>
    
      <p></p>
      <p></p>
      <p></p>
      <class="button">
        <button type="submit">GUARDAR</button>
        <class="button">
          <a href=/menu_admin><button type="button"> CANCELAR </button></a>
            
      
    </ul>
  </form>
  </body>
</div>
</body>
</div>
<div>
  <p></p>
</div>
<footer class="footer">2023 | Todos los derechos reservados </footer>
</html>
{% endblock %}