{% extends 'plantilla.html' %} 

{% block body %}
<!DOCTYPE html>
<html lang="en">
  <title> Actualizar paciente </title>
  <header class="header01">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
  <h2>SISTEMA DE GESTIÓN MÉDICA</h2>
  <h3>Actualizar datos paciente</h3>
</header>
    <div>
    <style>
      </style>
</header>
<nav></nav>

<body class=bodyint>
   <div class="divform">
<form action="/editarPaciente/{{ id }}" method="post">
    <ul>   
      <p></p>
      
      <label for="paciente">Nombre del paciente:</label>
        <input type="text" name="paciente" value="{{ edpac.3 }}" required/>
      
      <p></p>

        <label for="AP">Apellido Paterno:</label>
        <input type="text" id="AP" name="user_AP" value="{{ edpac.4 }}" required/>
     
      <p></p>
      
        <label for="AM">Apellido Materno:</label>
        <input type="text" id="AM" name="user_AM" value="{{ edpac.5 }}" required/>
      
      <p></p>
      
        <label for="FN">Fecha nacimiento:</label>
        <input type="date" id="FN" name="user_FN" value="{{ edpac.6 }}" required/>
      
      <p></p>
    </div>
    <div class="div2">
        <p></p>
        <h4>Datos opcionales</h4>
    </div>
    <div class="divform">

            
      <label for="AF">Antecedentes familiares:</label>
      <input type="text" id="AF" name="user_AF" value="{{ edpac.7 }}" />
        <p></p>

        <p></p>
     
        <label for="AL">Alergias:</label>
        <input type="text" id="AL" name="user_AL" value="{{ edpac.8 }}" />

        <p></p>
      
        <label for="EC">Enfermedades crónicas:</label>
        <input type="text" id="EC" name="user_EC" value="{{ edpac.9 }}"/>
      
    
      <p></p>
      <p></p>
      <p></p>
      <class="button">
               <button type="submit">GUARDAR</button>
        <class="button">
          <a href=/menu_usuario><button type="button"> CANCELAR </button></a>
            <p></p>
            <p></p>  
      
    </ul>
  </form>
</div>
</body>
</div>
<div>
  <p></p>
</div>
<footer class="footer">2023 | Todos los derechos reservados </footer>
</html>
{% endblock %}