{% extends 'plantilla.html' %} 

{% block body %}
<!DOCTYPE html>
<html lang="en">
  <title> Consultar médico </title>
  <header class="header01">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
  <h2>SISTEMA DE GESTIÓN MÉDICA</h2>
  <h3>Consultar médico</h3>
</header>
    <div>
    <style>
      </style>
</header>


<body class=bodyint>
   <div class="divform">
<form action="/consultarMedico" method="post">
    <nav>
    <ul>
        <p></p>
<H1> Consultar médicos </H1>
        <p></p>
        
        <p></p> 
        <p></p>
        <ul>
          <table>
            <thead>
            <tr>
                <th><label1>ID</label1></th>
                <th><label1>Nombre</label1></th>
                <th><label1>Apellido aterno</label1></th>
                <th><label1>Apellido materno</label1></th>
                <th><label1>RFC</label1></th>
                <th><label1>Cedula profesional</label1></th>
                <th><label1>Correo</label1></th>
                <th><label1>Contraseña</label1></th>
                <th><label1>Rol</label1></th>
             
            </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tbody>
              {%for alb in tbmedico %}
              <tr>
                  <td>{{ alb.0 }}</td>
                  <td>{{ alb.1 }}</td>
                  <td>{{ alb.2 }}</td>
                  <td>{{ alb.3 }}</td>
                  <td>{{ alb.4 }}</td>
                  <td>{{ alb.5 }}</td>
                  <td>{{ alb.6 }}</td>
                  <td>{{ alb.7 }}</td>
                  <td>{{ alb.8 }}</td>
                  
                  <td>
                  <!--<a href="/editarMedico/{{ alb.0 }}" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i></a>
                    <a href="/borrarMedico/{{ alb.0 }}" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>-->
                  
                    <a href="/editarMedico/{{alb.0}}"><button type="button"> ACTUALIZAR </button></a>
                        <a href="/borrarMedico/{{alb.0}}"><button type="button"> ELIMINAR </button></a>
                         
                  </td>
                  </tr>
                  {%endfor %}
              </tbody>
            </table>
            
            </form>
      <p></p>
      <p></p>
    
      <p></p>
      <p></p>
      <p></p>
      <class="button">
        <button type="submit">CONSULTAR</button>
        <a href=/menu_admin><button type="button"> CANCELAR </button></a>
    
           
      
    </ul>  
</nav>
  </form>
</div>
</body>
{%with mensajes=get_flashed_messages()%}
  {% if mensajes%}
    {%for msj in mensajes%}
    <script>Swal.fire('Listo!','Medico actualizado','success')</script>
    {%endfor%}
  {%endif%}
  {%endwith%}
</div>
<div>
  <p></p>
</div>
<footer class="footer">2023 | Todos los derechos reservados </footer>
</html>
{% endblock %}