{% extends 'plantilla.html' %} 

{% block body %}
<!DOCTYPE html>
<html lang="en">
  <title> Consultar citas </title>
  <header class="header01">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
  <h2>SISTEMA DE GESTIÓN MÉDICA</h2>
  <h3>Consultar citas</h3>
</header>
    <div>
    <style>
      </style>
</header>


<body class=bodyint>
   <div class="divform">
<form action="/consultarCita" method="post">
    <nav>
    <ul>
        <p></p>
<H4> Consultar cita</H4>
<p></p>     
<p></p>
        <label for="nombre">Nombre paciente:</label>
        <input type="text" id="nombre" name="user_nombre" required />
      
        <p></p>
      
        <ul>
          <table>
            <thead>
            <tr>
                <th><label1>ID</label1></th>
                <th><label1>Nombre</label1></th>
                <th><label1>Apellido Paterno</label1></th>
                <th><label1>Apellido Materno</label1></th>
                <!--<th><label1>Nombre completo</label1></th> Opcion de nombre completo en lugar de que sea individual-->
                <th><label1>Fecha de la cita</label1></th>
                
            </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tbody>
              {%for alb in tbcita %}
              <tr>
                  <td>{{ alb.0 }}</td>
                  <td>{{ alb.1 }}</td>
                  <td>{{ alb.2 }}</td>
                  <td>{{ alb.3 }}</td>
                  <!--<td>{{ alb.4 }}</td>-->
                  <td>{{ alb.4 }}</td>
                  <td>{{ alb.5 }}</td>
                  <td><a href="/descargarReceta" class="btn btn-secondary"><i class="bi bi-filetype-pdf"></i></a></td>

                  {%endfor %}
              </tbody>
            </table>
          
          </form>
      <p></p>
      
          
      <p></p>
      <p></p>
      <p></p>
     
            
    </ul>  
  </nav>
    </form>
    <class="button">
      <button type="submit">CONSULTAR</button>
          <a href=/menu_usuario><button type="button"> CANCELAR </button></a>
  </div>
  </body>
  </div>
  <div>
    <p></p>
  </div>
  <footer class="footer">2023 | Todos los derechos reservados </footer>
  </html>
  {% endblock %}