{% extends 'plantilla.html' %} 

{% block body %}
<!DOCTYPE html>
<html lang="en">
  <title> Consultar paciente </title>
  <header class="header01">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
  <h2>SISTEMA DE GESTIÓN MÉDICA</h2>
  <h3>Consultar paciente</h3>
</header>
    <div>
    <style>
      </style>
</header>


<body class=bodyint>
   <div class="divform">
<form action="/consultarPaciente" method="post">
    <nav>
    <ul>
        <p></p>
<H2> Consultar paciente</H2>
<p></p>
       
      <ul>
        <table>
          <thead>
          <tr>
              <th><label1>ID Expediente</label1></th>
              <th><label1> Médico </label1></th>
              <th><label1> Expediente </label1></th>
              <th><label1> Nombre</label1></th>
              <th><label1>Ap.paterno</label1></th>
              <th><label1>Ap.materno</label1></th>
              <th><label1>Fecha nacimiento</label1></th>
              <!--DATOS OOPCIONALES-->
              <th><label1>Antec. familiares</label1></th>
              <th><label1>Alergias</label1></th>
              <th><label1>Enf.crónicas</label1></th>
             
          </tr>
          </thead>
        
          <tbody>
            {%for alb in tbpacientes %}
            <tr>
                <td>{{ alb.0 }}</td>
                <td>{{ alb.1 }}</td>
                <td>{{ alb.2 }}</td>
                <td>{{ alb.3 }}</td>
                <td>{{ alb.4 }}</td>
                <td>{{ alb.5 }}</td>
                <td>{{ alb.6 }}</td>
                <td>{{ alb.7 }}</td>
                <td>{{ alb.8 }}</td>
                <td>{{ alb.9 }}</td>
                <td>{{ alb.10 }}</td>
                <td><a href="/actualizarPaciente/{{alb.0}}" class="btn btn-secondary"><i class="bi bi-pencil-square"></i></a>
                  <a href="/veliminar/{{alb.0}}" class="btn btn-secondary"><i class="bi bi-trash"></i></a></td>
                </tr>
                {%endfor %}
            </tbody>
          </table>
          
          </form>
    <p></p>
    <p></p>
      <p></p>
          
      <p></p>
      <p></p>
      <p></p>

    
           
      
    </ul>  
</nav>
  </form>
  <class="button">
        <a href=/menu_usuario><button type="button"> CANCELAR </button></a>
</div>
</body>
</div>
<div>
  <p></p>
</div>
<footer class="footer">2023 | Todos los derechos reservados </footer>
</html>
{% endblock %}