{% extends 'plantilla.html' %} 

{% block body %}
<html>
    <title>Receta</title>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<body class="bodyint">
 <header class="header01">
         <h2> SISTEMA DE GESTIÓN MÉDICA </h2>
         <h3> Descargar receta </h3>
         <style>
         </style>
</header>
<p></p>
<div class="divform"><p> 
<h4> Receta</h4>
    <form action="/descargarReceta" method="post">
        <ul>
                <p></p>
        <p></p>
          <p></p>
          <class="button">
            <button type="submit">DESCARGAR PDF</button>
            <class="button">
                <a href=/menu_usuario><button type="button"> CANCELAR </button></a>
               
          
        </ul>
      </form>
</p></div>

    <footer class="footer"><p>2023| Todos los derechos reservados</p></footer>

   </body>
   </html>
   {% endblock %}