{% extends 'plantilla.html' %} 

{% block body %}
<!DOCTYPE html>
<html lang="en">
  <title> Diagnóstico paciente </title>
  <header class="header01">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   

  <h2>SISTEMA DE GESTIÓN MÉDICA</h2>
  <h3>Diagnóstico</h3>
</header>
    <div>
    <style>
      </style>
</header>
<nav></nav>

<body class=bodyint>
   <div class="divform">
<form action="/diagnosticoPaciente" method="post">
    <ul>
      
        <label for="sint">Síntomas</label>
        <input type="text" id="sint" medico="user_sint" required/>
      
      <p></p>
      
      <label for="dx">Dx</label>
        <input type="text" id="dx" paciente="user_dx" required/>
      
      <p></p>
      <p></p>
    </div>
    
        <p></p>
        <div class="divform">
            <h4>Tratamiento</h4>
        <label for="med">Medicamentos:</label>
        <input type="text" id="med" name="user_med" required/>
     
      <p></p>
      
        <label for="ind">Indicaciones:</label>
        <input type="text" id="ind" name="user_ind" required/>
      
      <p></p>
      <p></p>
    </div>
        <p></p>
        <div class="divform">
              
        <h4>Solicitud de estudios</h4>
        <label for="TS">Tipo de solicitud:</label>
        <input type="text" id="TS" name="user_TS" required />
      
      <p></p>
    </div>
      
      <p></p>
      <p></p>
      <class="button">
        <button type="submit">GUARDAR</button>
        <class="button">
          <a href=/menu_usuario><button type="button"> CANCELAR </button></a>
           
      
    </ul>
  </form>
</div>
</body>
{%with mensajes=get_flashed_messages()%}
  {% if mensajes%}
    {%for msj in mensajes%}
    <script>Swal.fire('Listo!','Diagnostico del paciente registrado','success')</script>
    {%endfor%}
  {%endif%}
  {%endwith%}
</div>
<div>
  <p></p>
</div>
<footer class="footer">2023 | Todos los derechos reservados </footer>
</html>
{% endblock %}