{% extends 'plantilla.html' %} 

{% block body %}

<html>
    <title> Eliminar médico </title>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<body class="bodyint">
 <header class="header01">
         <h2> SISTEMA DE GESTIÓN MÉDICA </h2>
         <h3> Eliminar médico </h3>
         <style>
         </style>
</header>
<p></p>
<div class="divform"><p> 

    <form action="/eliminarMedico/{{ id }}" method="post">
        <ul>
            <label for="nombre">Nombres(s):</label>
            <input type="text" id="nombre" name="user_nombre" value="{{ bmed.1 }}" disabled/>
          
          <p></p>
          
            <label for="AP">Apellido Paterno:</label>
            <input type="text" id="AP" name="user_AP" value="{{ bmed.2 }}" required/>
          
          <p></p>
          
            <label for="AM">Apellido Materno:</label>
            <input type="text" id="AM" name="user_AM" value="{{ bmed.3 }}" required/>
          
          <p></p>
    
             <label for="RFC">RFC:</label>
            <input type="text" id="RFC" name="user_RFC" value="{{ bmed.4 }}" required/>
          
          <p></p>
          
            <label for="CP">Cédula Profesional:</label>
            <input type="text" id="CP" name="user_CP" value="{{ bmed.5 }}" required/>
          
          <p></p>
    
            <label for="CE">Correo electrónico:</label>
            <input type="text" id="CE" name="user_CE" value="{{ bmed.6 }}" required/>
         
          <p></p>
          
            <label for="pass">Contraseña:</label>
            <input type="password" id="pass" name="contrasena" value="{{ bmed.7 }}" required/>
          
          <p></p>
         
            <label for="rol">Rol:</label>
            <input type="text" id="rol" name="user_rol" value="{{ bmed.8 }}" required/>
    
              
          <p></p>
          <p></p>
          <class="button">
            <button type="submit">ELIMINAR</button>
            <class="button">
                <a href=/menu_admin><button type="button"> CANCELAR </button></a>
               
          
        </ul>
      </form>
</p></div>

    <footer class="footer"><p>2023| Todos los derechos reservados</p></footer>

   </body>
   </html>
   {% endblock %}