{% extends 'plantilla.html' %} 

{% block body %}
<!DOCTYPE html>
<html lang="en">
  <title> Exploración paciente </title>
  <header class="header01">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <h2>SISTEMA DE GESTIÓN MÉDICA</h2>
  <h3>Exploración paciente</h3>
</header>
    <div>
    <style>
      </style>
</header>
<nav></nav>

<body class=bodyint>
   <div class="divform">
<form action="/exploracionPaciente" method="post">
    <ul>
      
      <label for="medico">Selecciona paciente</label>
      <select id="pac" name="pac">
        {% for pacientes in pac %}
            <option value="{{ pacientes.0 }}">{{ pacientes.1 }}</option>
        {% endfor %}
    </select>

        <label for="fecha">Fecha cita:</label>
        <input type="date" name="user_fecha" required/>
      
      <p></p>
      
      <label for="peso">Peso:</label>
        <input type="number" name="user_peso" required/>
      
      <p></p>

        <label for="altura">Altura:</label>
        <input type="number" name="user_altura" required/>
     
      <p></p>
      
        <label for="temperatura">Temperatura:</label>
        <input type="number" name="user_temperatura" required/>
      
      <p></p>
      
      
    
    <div class="divform">
      <p></p>
      <p></p>
        <label for="freccard">Frecuencia cardiaca:</label>
        <input type="text" name="user_freccard" required/>
      
      <p></p>
     
        <label for="ox">SpO2:</label>
        <input type="text" name="user_ox" required/>
     
      <p></p>
      
        <label for="gluc">Glucosa:</label>
        <input type="text" name="user_gluc" required/>
      
        

      <p></p>
      <p></p>
      <p></p>
      <class="button">
        <button type="submit">GUARDAR</button>
        <class="button">
          <a href=/menu_usuario><button type="button"> CANCELAR </button></a>
           
            <p></p>
      <p></p>
    </ul>
  </form>
  {%with mensajes=get_flashed_messages()%}
  {% if mensajes%}
    {%for msj in mensajes%}
    <script>Swal.fire('Listo!','Exploracion del paciente registrado','success')</script>
    {%endfor%}
  {%endif%}
  {%endwith%}
</div>
</body>
</div>
<div>
  <p></p>
</div>
<footer class="footer">2023 | Todos los derechos reservados </footer>
</html>
{% endblock %}