
{% extends 'plantilla.html' %} 

{% block body %}
<!DOCTYPE html>
<html>
    <title> Inicio de sesión </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<body class="bodyint">
 <header class="header01">
         <h2> SISTEMA DE GESTIÓN MÉDICA </h2>
         <h3> Iniciar sesión </h3>
         <style>
         </style>
</header>
<p></p>
<div class="divform"><p> 
    <h3></h3>
    <form action="/login" method="post">

            {%with mensajes=get_flashed_messages()%}
            {%if mensajes%}
                {%for message in mensajes%}
            
                    <script>Swal.fire({
                      "title":"Error!",
                      "text":"{{message}}",
                      "icon":"error"})</script>
      
                {%endfor%}
            {%endif%}
            {%endwith%}

            <ul>
            <label for="rfc">RFC:</label>
            <input type="text" name="rfc" placeholder="Ingresa tu RFC" required>
          
          <p></p>
          
            <label for="contrasena">Contraseña:</label>
            <input type="password" name="contrasena" placeholder="Ingresa tu contraseña" required>
          
        
          <p></p>
          <p></p>
          <br><label for="label"> </label></br>

          <button type="submit" onclick="">LOGIN</button>
               
          
        </ul>
      </form>
</p></div>

    <footer class="footer"><p>2023| Todos los derechos reservados</p></footer>

   </body>
   </html>
{% endblock %}