<!DOCTYPE html>
<html lang="en">
<header class="header01">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h2>SISTEMA DE GESTIÓN MÉDICA</h2>
    <h3>Menu</h3>
</header>
<body class=bodyint>
    <div class="divform">
  
    <p></p>
    <a href="guardarMedico">REGISTRAR MÉDICO</a>
    <p></p>
    <a href="buscarMedico" class="button2">BUSCAR MÉDICO</a>
    <p></p>

    <p></p>
    <a href="consultarMedico" class="button2">CONSULTAR MÉDICO</a>
       <p></p>

    
        
    <p></p>
    <a href=/ingresar><button type="button"> Cerrar sesión </button></a>
    <p></p>   

</div>
</body>
<footer class="footer">2023 | Todos los derechos reservados </footer>
</html>