{% extends 'plantilla.html' %} 

{% block body %}
<!DOCTYPE html>
<html lang="en">
<header class="header01">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <h2>SISTEMA DE GESTIÓN MÉDICA</h2>
    <h3>Menu</h3>
</header>
<body class=bodyint>
    <div class="divform">
    
        <h2>Bienvenido, {{current_user.fullname}}</h2>

   <p></p>
    <a href="guardarPaciente" class="button2">REGISTRAR PACIENTE</a>
    <p></p>
    <a href="exploracionPaciente" class="button2">EXPLORACIÓN PACIENTE</a> 
    <p></p>
    <a href="diagnosticoPaciente" class="button2">DIAGNÓSTICO PACIENTE</a>
    <p></p>
    <a href="consultarCita" class="button2">CONSULTAR CITAS</a>
    <p></p>
    <a href="consultarPaciente" class="button2">CONSULTAR PACIENTE</a>
    <p></p>
    <a href="descargarReceta" class="button2">DESCARGAR RECETA</a>
    <p></p>
    
   
    <p></p>
    <a href=/ingresar><button type="button"> Cerrar sesión </button></a>
    <p></p> 

</div>
</body>
{%with mensajes=get_flashed_messages()%}
{%if mensajes%}
{%for msj in mensajes%}

<script>Swal.fire({
    "title":"Listo!",
    "text":"{{msj}}",
    "icon":"success"})</script>

{%endfor%}
{%endif%}
{%endwith%}
<footer class="footer">2023 | Todos los derechos reservados </footer>
</html>
{% endblock %}
