<!DOCTYPE html>
<html lang="en">
<header class="header01">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h2>SISTEMA DE GESTIÓN MÉDICA</h2>
    
</header>

<body class=bodyint>
    <form action="/" method="POST"></form>
    <div class="divform">
        <h2>BIENVENIDO A SGM</h2>
        <h3>Inicie sesión para continuar</h3>


   
    <a href="login" class="button2">INICIAR SESIÓN</a>
    <p></p>
    
</div>
</body>
<footer class="footer">2023 | Todos los derechos reservados </footer>
</html>