.bodyint{
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: cornsilk;
}
.header01{
    border: 3px solid darkgray;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    background-color: rgb(33, 2, 75);}

.divform{
    color:rgb(33, 2, 75) ; 
    border-bottom: 3px solid darkgray;
    border-top: 3px solid darkgray;
    border-left: 3px solid darkgray;
    border-right: 3px solid darkgray;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    }

.button{
    
        margin-right: 20px;
        width: 150px;
    }
    
.label{
        margin-left: 50px;
        margin-right: 20px;
        width: 150px;
    }
    
.label1{
        margin-left: 50px;
        margin-right: 50px;
        width: 150px;
        text-align: right;
    }

.footer{
    text-align: center;
    color: black;
}